@layout('layouts.app')

@section('content')
    <img src="{{ assetsUrl('assets/undraw_taking_selfie_lbo7.svg') }}" class="welcome" alt="img">
   
    <div class="message">
      <h4 class="message-text"><b>Welcome to <span>PicoGallery</span></b></h4>
    </div>
    <div class="about text-center mt-3">
      PicoGallery
    </div>
@endsection