<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ style('https://fonts.googleapis.com/css?family=Arvo&display=swap') }}
    {{ style('style') }}
    {{ style('app') }}
    <title>ImageGallery</title>
</head>
<body>
    @include('layouts.navbar')
        @!section('content')
    
    {{ script('jquery') }}
    {{ script('popper') }}
    {{ script('app.js') }}
</body>
</html>